<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #2ec5fc">
  <div class="container-fluid">
    <a class="navbar-brand" href="/main">IRON HACK MAIN PAGE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Iniciar sesión
            / Regístrate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile"> Mi perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create-definition"> Crear definición</a>
        </li>

      </ul>
      <select
        class="form-select-lg mb-1"
        size="1"
        aria-label="size 3 select example"
      >
        <option value="0">Selecciona existente...</option>
        <option href="/" value="1">HTTP</option>
        <option value="2">IP</option>
        <option value="3">Bulala</option>
      </select>

      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>