<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #2ec5fc">
  <div class="container-fluid">
          <ul class="navbar-nav me-auto mb-5 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active nav-btn-in custom-btn1 btn-12" id="iniciar-btn" aria-current="page" href="/"> <span>Nos vemos pronto!</span> <span>Regístrate o logeate!</span></a>
        </li>
          </ul>
    <a id="logo-iron" href="https://www.ironhack.com/es"><img src="/imagenes/iron.png" alt="ups, logo? que logo=" width="100%"> </a>
    <a id="logo-gitHub" href="https://github.com/"><img src="/imagenes/gitHub.png" alt="ups, logo? que logo=" width="100%"> </a>
    <a id="logo-wiki" href="https://es.wikipedia.org/wiki/Wikipedia:Portada"><img src="/imagenes/wiki.png" alt="ups, logo? que logo=" width="100%"> </a>
    <a id="logo-student" href="https://my.ironhack.com"><img src="/imagenes/ironstudent.png" alt="ups, logo? que logo=" width="100%"> </a>

    <a class="navbar-brand nav-btn" href="/main"><span>IRON HACK MAIN PAGE</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {{#if currentUser}}
          <a class="nav-link nav-btn" href="/profile"> <span>Mi perfil: {{currentUser.nickname}}</span></a>
          {{/if}}
        </li>
        <li class="nav-item">
          {{#if currentUser}}
          <a class="nav-link nav-btn" href="/create-definition"> <span>Crear definición</span></a>
          {{/if}}
        </li>
        <li class="nav-item">
          <a class="nav-link nav-btn" href="/list"><span>Definiciones de usuarios</span></a>
        </li>

      </ul>

<form class="d-flex col-6" method="GET" role="search" name="filterer"> 

      <select id="form-category"  name="category" class="form-select searcher "  size="1"  aria-label="select example"  onchange="this.form.submit()">
        <option selected disabled value="0">Por categoría...</option>
        <option value="Internet" name="category" >Internet</option>
        <option  value="Librería" name="category">Librerías/Frameworks</option>
        <option value="Programa" name="category">Programas/aplicaciones</option>
      </select  >
        <input id="form-word" class="form-select searcher" type="text" name="name" value="{{query.name}}" placeholder="Search" aria-label="Search" />
        <button class="btn button-74 searcher" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<div class="eyes-fixed">
  <div class="eyes">
      <div class="eye">
        <div class="ball"></div>
      </div>

      <div class="eye">
        <div class="ball"></div>
      </div>
    </div>
</div>
  
      <script>
      let balls = document.getElementsByClassName("ball");
      document.onmousemove = function(){
        let x = event.clientX * 60/ window.innerWidth +"%";
        let y = event.clientY * 150/ window.innerHeight +"%";
        console.log(event.clientX)
        for(let i=0;i<2;i++){
          balls[i].style.left= x;
          balls[i].style.top= y;
          balls[i].style.transform= "translate(-"+x+",-"+y+")";
        }
      }
    </script>