#btn-log-img {
  display: flex;
  position: absolute;
  font-family: "Varela Round";
  text-decoration: none;
  align-items: center;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom,
    rgba(14, 9, 98, 0.907),
    rgba(4, 72, 80, 0.5)
  );
  color: #f9fbff;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 420px;
  margin-top: 6%;
  transition: all 0.5s;
  border-radius: 60px;
}

#btn-log-img span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-align: center;
}

#btn-log-img span:after {
  position: absolute;
  opacity: 0;
  top: 80%;
  right: -900px;
  transition: 0.5s;
}
#btn-log-img:hover span {
  padding-right: 5px;
  font-size: 32px;
  transform: 1s;
  font-family: "Varela Round";
}

#btn-log-img:hover span:after {
  opacity: 1;
  right: -600px;
}

/* botones de log-in */
.button-49,
.button-49:after {
  width: 100px;
  height: 40px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(
    45deg,
    transparent 5%,
    #a7eda77b 5%,
    #a7eda77b 5%
  );
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #117e27;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(20% -6px 0 0);
  --slice-2: inset(30% -6px 30% 0);
  --slice-3: inset(10% -6px 825% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "JOIN US";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #d3f10e 3%,
    #744ed2 5%,
    #024d12 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 150px;
    height: 46px;
    line-height: 88px;
  }
}

.button-50,
.button-50:after {
  width: 150px;
  height: 40px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #bce3e591 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #0da7b2;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-50:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(20% -6px 0 0);
  --slice-2: inset(30% -6px 30% 0);
  --slice-3: inset(10% -6px 825% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "WELCOME";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #d4fe02 3%,
    #0eda4c 5%,
    #7206d7 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #0829a1;
  clip-path: var(--slice-0);
}

.button-50:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-50,
  .button-50:after {
    width: 180px;
    height: 46px;
    line-height: 88px;
  }
}

/* botones de log-in */

/*  botones de  register */
.button-21,
.button-21:after {
  width: 120px;
  height: 40px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #f5f5f5 5%, #60e7ce 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #76addb;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-21:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(20% -6px 0 0);
  --slice-2: inset(30% -6px 30% 0);
  --slice-3: inset(10% -6px 825% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "JOIN US";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #d3f10e 3%,
    #744ed2 5%,
    #414d02 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-21:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-21,
  .button-21:after {
    width: 190px;
    height: 46px;
  }
}

.button-22,
.button-22:after {
  width: 100px;
  height: 40px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(
    45deg,
    transparent 5%,
    #a7eda77b 5%,
    #2a1d1d8c 5%
  );
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #000000;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(20% -6px 0 0);
  --slice-2: inset(30% -6px 30% 0);
  --slice-3: inset(10% -6px 825% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "SOON";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #d3f10e 3%,
    #744ed2 5%,
    #024d12 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-22:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-22,
  .button-22:after {
    width: 220px;
    height: 46px;
  }
}

.button-2a,
.button-2a:after {
  width: 100px;
  height: 40px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(
    45deg,
    transparent 5%,
    #a7eda77b 5%,
    #2a1d1d8c 5%
  );
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #000000;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2a:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(20% -6px 0 0);
  --slice-2: inset(30% -6px 30% 0);
  --slice-3: inset(10% -6px 825% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "NICE JOB!";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #d3f10e 3%,
    #744ed2 5%,
    #95edbe 5%
  );
  text-shadow: -3px -3px 0px #000000, 3px 3px 0px #4208ad;
  clip-path: var(--slice-0);
}

.button-2a:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-2a,
  .button-2a:after {
    width: 620px;
    height: 50px;
  }
}

.button-23,
.button-23:after {
  width: 100px;
  height: 40px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(
    45deg,
    transparent 5%,
    #a7eda77b 5%,
    #ffffff7b 5%
  );
  border: 0;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #908f8f;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-23:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(20% -6px 0 0);
  --slice-2: inset(30% -6px 30% 0);
  --slice-3: inset(10% -6px 825% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "JOIN US";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #d3f10e 3%,
    #744ed2 5%,
    #024d12 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-23:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
  background-color: black;
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-23,
  .button-23:after {
    width: 150px;
    height: 46px;
    line-height: 88px;
  }
}

/* botones de register */

.button-52,
.button-52:after {
  width: 100px;
  height: 40px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(
    0deg,
    rgb(240, 229, 202) 0%,
    rgb(243, 162, 0) 100%
  );
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #5a2f04;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(20% -6px 0 0);
  --slice-2: inset(30% -6px 30% 0);
  --slice-3: inset(10% -6px 825% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "Profile";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #d3f10e 3%,
    #744ed2 5%,
    #024d12 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-52:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-52,
  .button-52:after {
    width: 180px;
    height: 46px;
    line-height: 88px;
  }
}

.button-52a,
.button-52a:after {
  width: 200px;
  height: 40px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(
    0deg,
    rgb(240, 229, 202) 0%,
    rgb(2, 137, 209) 100%
  );
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #5a2f04;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52a:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(20% -6px 0 0);
  --slice-2: inset(30% -6px 30% 0);
  --slice-3: inset(10% -6px 825% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "---------------------";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #d3f10e 3%,
    #744ed2 5%,
    #930101 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-52a:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-52a,
  .button-52a:after {
    width: 330px;
    height: 46px;
    line-height: 88px;
  }
}

.button-52b,
.button-52b:after {
  width: 200px;
  height: 40px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(
    0deg,
    rgb(240, 229, 202) 0%,
    rgb(2, 137, 209) 100%
  );
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #5a2f04;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52b:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(20% -6px 0 0);
  --slice-2: inset(30% -6px 30% 0);
  --slice-3: inset(10% -6px 825% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "-------------------";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #0237bf 3%,
    #744ed2 5%,
    #000000 5%
  );
  clip-path: var(--slice-0);
}

.button-52b:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-52b,
  .button-52b:after {
    width: 330px;
    height: 46px;
    line-height: 88px;
  }
}

.button-51,
.button-51:after {
  width: 150px;
  height: 40px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(
    0deg,
    rgb(228, 205, 236) 0%,
    rgb(225, 121, 229) 100%
  );
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #66f0fa;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(20% -6px 0 0);
  --slice-2: inset(30% -6px 30% 0);
  --slice-3: inset(10% -6px 825% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "Edit it";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #d4fe02 3%,
    #0eda4c 5%,
    #7206d7 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #0829a1;
  clip-path: var(--slice-0);
}

.button-51:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-51,
  .button-51:after {
    width: 180px;
    height: 46px;
    line-height: 88px;
  }
}

/* botones de log-in */

.custom-btn1 {
  margin-left: 15px;
  margin-top: 14px;
  width: 170px;
  height: 52px;
  color: rgb(220, 24, 24);
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 3px 3px 3px 0px rgba(4, 147, 219, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 12 */
.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgb(17, 181, 245) 0%,
    rgb(2, 129, 209) 100%
  );
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.btn-11 {
  position: relative;
  right: 20px;
  top: -30px;
  border: none;
  box-shadow: none;
  width: 180px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-11 span {
  display: block;
  position: absolute;
  width: 80px;
  height: 40px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 40px;
}
.btn-11 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-11 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-11:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-11:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.custom-btn-9 {
  width: 130px;
  height: 40px;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5),
    -4px -4px 6px rgba(116, 125, 136, 0.2);
  outline: none;
}

.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
  font-size: 18px;
  color: #2f0303;
  color: #0d0000;
}
.btn-9:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #031f254a;
  transition: all 0.3s ease;
}
.btn-9:hover {
  background-color: rgba(0, 0, 0, 0.058);
  box-shadow: 4px 4px 6px 0 rgba(42, 4, 4, 0.5),
    -4px -4px 6px 0 rgba(6, 34, 69, 0.2),
    inset -4px -4px 6px 0 rgba(56, 4, 4, 0.5),
    inset 4px 4px 6px 0 rgba(1, 29, 64, 0.3);
}
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.custom-btn-9a {
  width: 250px;
  height: 30px;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  padding: 1px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 11px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5),
    -4px -4px 6px rgba(116, 125, 136, 0.2);
  outline: none;
}

.btn-9a {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
  font-size: 15px;
  color: #2f0303;
  color: #0d0000;
}
.btn-9a:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #031f254a;
  transition: all 0.3s ease;
}
.btn-9a:hover {
  background-color: rgba(218, 13, 184, 0.483);
  box-shadow: 4px 4px 6px 0 rgba(42, 4, 4, 0.5),
    -4px -4px 6px 0 rgba(6, 34, 69, 0.2),
    inset -4px -4px 6px 0 rgba(56, 4, 4, 0.5),
    inset 4px 4px 6px 0 rgba(1, 29, 64, 0.3);
  color: rgb(255, 255, 255);
}
.btn-9a:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}
/*  */

.btn-8 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
  color: #070b51;
  color: #0587c0;
}
.btn-8:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.btn-8:hover {
  background-color: rgba(81, 145, 240, 0.191);
  box-shadow: 4px 4px 6px 0 rgba(81, 145, 240, 0.143),
    inset -4px -4px 6px 0 rgba(81, 145, 240, 0.143),
    inset 4px 4px 6px 0 rgba(81, 145, 240, 0.143);
  color: rgb(0, 0, 0);
}

#info-example-container {
  position: absolute;
  right: 10px;
  width: 20%;
  z-index: 80;
}
.card-text-box {
  margin-right: 130px;
  display: block;
  width: 530px;
}

.card-text-col1 {
  background: -webkit-linear-gradient(top, #97ea7043, #ffffff, #97ea7043);
  font-size: 14px;
  font-family: "Varela Round";
  padding: -33px;
  margin: -10px;
  top: 300px;
}

.card-text-col2 {
  background: -webkit-linear-gradient(top, #f29b6c37, #ffffff, #f29b6c37);
  font-size: 15px;
  font-family: "Varela Round";
  padding: -33px;
  margin: -10px;
}
.card-text-col3 {
  background: -webkit-linear-gradient(top, #709bea2c, #ffffff, #709bea2c);
  font-size: 15px;
  font-family: "Varela Round";
  padding: -33px;
  margin: -10px;
}
.card-text-col4 {
  background: -webkit-linear-gradient(top, #b9ea7031, #ffffff, #b9ea7031);
  font-size: 15px;
  font-family: "Varela Round";
  padding: -33px;
  margin: -10px;
}
.card-text-col5 {
  padding-top: 3px;
  padding-bottom: 11px;
  background: -webkit-linear-gradient(top, #dd00ad31, #ffffff, #ffffff31);
  font-size: 15px;
  font-family: "Varela Round";
  padding: -33px;
  margin: -10px;
}

@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

#body-bien {
  margin-top: 6%;
  padding: 1%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-family: "Varela Round";
}
#button-inv {
  padding: 1%;
  margin: 1%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-family: "Varela Round";
}
.h1-bien {
  margin: 0;
  font-size: 3em;
  padding: 0;
  color: rgb(4, 213, 255);
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black,
    0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black,
    0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black,
    -0.03em 0 0 black;
}
.h1-bien span {
  transform: scale(0.9);
  display: inline-block;
}
.h1-bien span:first-child {
  animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
    alternate;
}
.h1-bien span:last-child {
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
    infinite alternate;
}
@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}
@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

.button-53 {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 12%;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 1%;
  margin-top: 2%;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  opacity: 1;
}
.button-53:hover:after {
  bottom: 2px;
  left: 2px;
  font-size: 2rem;
}
.button-53:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-53 {
    font-size: 1.25rem;
    opacity: 0.5;
  }
}
.justify-buttons {
  display: flex;
  justify-content: space-evenly;
}

.image-hover-text-container {
  position: relative;
  display: inline-block;
  margin-left: 30%;
  width: auto;
  height: auto;
  transition: all 0.2s linear;
}

/* Make the image round */

#btn-newexample-go {
  float: right;
  margin: 5px;
}
#btn-newexample-go:hover {
  border: 1px solid black;
  border-radius: 50%;
  padding: 1px;
}
#sugerencia {
  display: flex;
  position: absolute;
  padding-top: 5%;
  padding-left: 32%;
}
.btn-16 {
  border: none;
  color: #000;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}
.searchers {
  padding-top: 1%;
}

/* CSS */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #2fe7ff 0%,
    #19a5f032 51%,
    #00fffb 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  font-family: "Varela Round";
  text-decoration: none;
  align-items: center;
}

.button-87:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

#download-icon {
  margin-left: 10%;
}
