
body{
  cursor: url("/imagenes/curs0.cur"), pointer;
}

/* a:link{
    cursor: url("/imagenes/edBus.cur"), pointer;
}

select{
    cursor: url("/imagenes/edPreg.cur"), pointer;
}
input{
    cursor: url("/imagenes/edPreg.cur"), pointer;
}  */
.body-front-img{
  background-image: url("../imagenes/fondos/wall5.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 20%;
}
#body-def-img{
  background-image: url("../imagenes/fondos/wall4.jpeg");
    /* Full height */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 120px;
}
#body-list-img{
  background-image: url("../imagenes/fondos/wall12.jpeg");
  background-size: 100%;
  background-repeat: repeat;
}
#body-profile-img{
  background: url("../imagenes/fondos/fondoBlue.jpg") repeat;
  background-size: 30%;
}
#body-profile-top-img{
  background: url("../imagenes/fondos/fondoBlue.jpg") repeat;
  width: 100%;
  height: 20%;
  margin-bottom: -5%;
  margin-top:3%;
}

.body-main-img{
  background: url("../imagenes/fondos/wall8.jpeg") repeat;
}

a:link{
  cursor: url("/imagenes/curs.cur"), pointer;
}
#logo-iron{
  width: 2%;
  cursor: url("/imagenes/curs.cur"), pointer;

}
#logo-gitHub{
  width: 2.5%;
  cursor: url("/imagenes/curs.cur"), pointer;

}
#logo-wiki{
  width: 2%;
  cursor: url("/imagenes/curs.cur"), pointer;
}
#logo-student{
  width: 2%;
  margin-right: 1%;
  margin-left: 0.3%;
  cursor: url("/imagenes/curs.cur"), pointer;

}
.zoom-logo {
  transition: transform .2s;
}

.zoom-logo:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 1.5-8 */
  transform: scale(1.5);
  z-index: 4;
}
/* .space-evenly {
  padding: 10px;
} */

#iniciar-sesión {
  font-size: 30px;
  font-family: "Varela Round";
}

#btn-invitado {
  display: flex;
  position: absolute;
  font-family: "Varela Round";
  text-decoration: none;
  align-items: center;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom,
    rgba(14, 9, 98, 0.907),
    rgba(4, 72, 80, 0.5)
  );
  color: #f9fbff;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 420px;
  margin-top: 3%;
  transition: all 0.5s;
  cursor: url("/imagenes/curs.cur"), pointer;
  border-radius: 60px;
}

#btn-invitado span {
  cursor: url("/imagenes/curs.cur"), pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#btn-invitado span:after {
  content: url(../imagenes/rod-1.png);
  position: absolute;
  opacity: 0;
  top: 80%;
  right: -900px;
  transition: 0.5s;
}
#btn-invitado:hover span {
  padding-right: 5px;
  font-size: 32px;
  transform: 1s;
  font-family: "Varela Round";
}

#btn-invitado:hover span:after {
  opacity: 1;
  right: -600px;
}
#log-in-position{
  padding-top: 23%;
}
#log-in {
  background-image: linear-gradient(
    to bottom,
    rgba(77, 237, 29, 0.334),
    rgba(234, 236, 104, 0.908),
    rgba(77, 237, 29, 0.243)
  );
  display: inline-flex;
  border-radius: 20px;
  font-family: "Varela Round";
}
#form-login{
  padding-left: 3%;
}

#create-acount {
  background-image: linear-gradient(
    to bottom,
    rgba(38, 38, 236, 0.023),
    rgb(203, 218, 224),
    rgba(203, 218, 224, 0.973),
    rgba(38, 38, 236, 0.043)
  );
  display: flex;
  border-radius: 30px;
  font-family: "Varela Round";
  font-size: 15px;
}
.content-container {
  margin-top: 1%;
}

.definitions {
  margin: auto;
  margin-top: 4%;
  width: 50%;
  padding: 10px;
}

#list-of {
  margin: 5%;
}
#main-page{
  margin: 3% 4%;
}
.ua {
  display: flex;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-form {
  display: flex;
  justify-content: left;
  align-items: center;
}
#iniciar-btn{
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.enter-form {
  display: flex;
  justify-content: right;
  align-items: center;
}


.nav-btn span {
  cursor: url("/imagenes/curs.cur"), pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-family: "Varela Round";
  font-size:74%;
  
}

.nav-btn:hover span {
  font-size: 110%;
  transform: 1s;
  font-family: "Varela Round";
  text-shadow: 2px 2px rgb(255, 255, 255);

}

.nav-btn-in span {
  font-family: "Varela Round";
  cursor: url("/imagenes/curs.cur"), pointer;
  display: inline-block;
  position: relative; 
  transition: 1s;
  font-size: 65%;

}

.nav-btn-in:hover span {
  font-size: 80%;
  transform: 2s;
  font-family: "Varela Round";
  color:rgb(0, 0, 0)
}



#form-category{
  font-size: 15px;
  background: -webkit-linear-gradient(left, #8cade9, #5e5858);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  border-style: solid double ;
  border-width: 1px;
  height: 40px;
  margin-top: 1%;
}

#form-word{
  font-size: 15px;
  font-weight: 900;
  margin-top: 1%;
  background: -webkit-linear-gradient(top, #8cade9, #ffffff);
  color: rgb(1, 18, 68);
  text-shadow: 1px 1px white;
  text-shadow: 1.3px 1.3px white;
  border-radius: 20px;
  border-style: solid double ;
  border-width: 1px;
  height: 40px;
}

#list-of{
  display: flex;
  border-radius: 30px;
  font-family: "Varela Round";
  font-size: 15px;
  margin-left: 20%;
  margin-right: 20%;
}







/* eyes */
/* 
.eyes-fixed{
  position: fixed;
  width: 100%;
  margin-top: 60px;
}
.eyes{
  position: absolute;
  left: 40%;
  width: 100%;
  text-align: center;
}
.eye{
  width: 50px;
  height: 50px;
  background-image: linear-gradient(
    to bottom,
    rgba(38, 38, 236, 0.153),
    rgb(203, 218, 224),
    rgba(203, 218, 224, 0.973),
    rgba(38, 38, 236, 0.271)
  );
  display: inline-block;
  margin: 3px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.ball{
  width: 20px;
  height: 20px;
  background: linear-gradient(
    to bottom,
    rgba(38, 38, 236, 0.023),
    rgb(203, 218, 224),
    rgba(203, 218, 224, 0.973),
    rgba(38, 38, 236, 0.043)
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 10px dotted rgb(27, 154, 188);
} */
/* eyes */

.overflow-ojos{
  overflow-x:hidden;
}

#iniciar-info{
  font-size: 14px;
}



.archivador-input{
  background-color: yellow;
  color: blue;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: '        Selecciona una imagen.  Ayudará a esclarecer tu explicación       ';
  background: -webkit-linear-gradient(top, #266ff7, #d3cff8);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 10px 13px;
  outline: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #d4ea15, #0cc109);
}

.card-text-col1{
  background: -webkit-linear-gradient(top, #97ea7043, #ffffff, #97ea7043);
  font-size: 20px;
  font-family: "Varela Round";
  padding: -33px;
  margin: -10px;
}
.card-text-col2{
  background: -webkit-linear-gradient(top, #f29b6c37, #ffffff, #f29b6c37);
  font-size: 20px;
  font-family: "Varela Round";
  padding: -33px;
  margin: -10px;
}
.card-text-col3{
  background: -webkit-linear-gradient(top, #709bea2c, #ffffff, #709bea2c);
  font-size: 20px;
  font-family: "Varela Round";
  padding: -33px;
  margin: -10px;
}
.card-text-col4{
  background: -webkit-linear-gradient(top, #b9ea7031, #ffffff, #b9ea7031);
  font-size: 20px;
  font-family: "Varela Round";
  padding: -33px;
  margin: -10px;
}