<div id="back-error">
<p>{{ message }}</p>
{{#if metadata.status}}<p>{{ metadata.status }}</p>{{/if}}
{{#if metadata.stack}}<pre>{{ metadata.stack }}</pre>{{/if}}

<img src="https://res.cloudinary.com/dthjynocl/image/upload/v1663552916/imgs/Mix/side-eyeing-chloe-chloe_amci6a_rhlxdw.gif" width="20%" alt="">

</div>
