<div id="back-error">
<p>{{ message }}</p>
{{#if metadata.status}}<p>{{ metadata.status }}</p>{{/if}}
{{#if metadata.stack}}<pre>{{ metadata.stack }}</pre>{{/if}}

<img src="https://res.cloudinary.com/du3v1mwzj/image/upload/v1661185080/iron-learning/imgs/mix/side-eyeing-chloe-chloe_amci6a.gif" width="20%" alt="">

</div>
