    {{> navbar}}
<h1>Mensaje secreto</h1>  
    <hr>
    <hr>
    <h1 id="text-welcome-main" class="mt-5">Te agradeceríamos aportar tus propios ejemplos </h1>
<img class="fixed-top m-5" src="https://res.cloudinary.com/du3v1mwzj/image/upload/v1661994185/iron-learning/imgs/mix/cube1_lvknkp.png" alt="Mod 2" width="3%">
    
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
<h1>Pendiente de implementar</h1>  