    {{> navbar}}
<h1>Mensaje secreto</h1>  
    <hr>
    <hr>
    <h1 id="text-welcome-main" class="mt-5">Te agradeceríamos aportar tus propios ejemplos </h1>    
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
<h1>Pendiente de implementar</h1>  