
 {{!--  BUSCAR GRID PARA ALINEAR TODO
 
 MODULE 2 WEEK4 day 3 --}} 

{{!-- <div class="row"></div>     para después ponerlo todo bien organizado --}}

<body id="body-front-img">
    <a  href="/main" id="btn-invitado" role="button"> <span>Bienvenido! <br> Pulsa aquí para entrar como invitado</span> </a>


{{!--  --}} 

<div id="log-in" class="p-2 m-2 col-md-4">


    <form acton="/" method="post">
        <label id="iniciar-sesión" class="form-label ">Iniciar Sesión</label>
            <div class="d-flex" id="form-login">
                <div class="col-md-6">
                  <label  class="form-label">Dirección de correo</label>
                  <input type="email" name="email" value="{{user.email}}" class="form-control {{#if errors.email}}is-invalid{{/if}}" value="{{user.email}}" placeholder="IronStundent@bulala.com">
                  <div id="emailHelp" class="form-text">Usaremos tu Email para espiar</div>
                 {{#if errors.email}}<div class=" invalid-feedback"> {{errors.email}}</div>{{/if}}

                </div>
                <div class="col-md-5  ps-3">
                  <label class="form-label">Contraseña</label>
                  <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="@ # $ % & ] *">
                  <div id="emailHelp" class="form-text">Seguro que es bonita</div>
                </div>
            </div>
      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>
</div >
         <div class="d-grid col-md-4">
        <a  class="btn btn-secondary" href="/register"> <span>Ir a la página de Registro</span> </a>
      </div>


