<div class="m-5">




    <form action="/main/newexample" method="POST">
                    <label for="name" class="form-label">Concepto </label>
                    <input type="text"  class="form-control" name="newexample" id="newexample"> 
            <button type="submit" class="btn btn-primary p-3 col-10">Crear nuevo ejemplo</button>
    </form>

</div>
