    {{> navbar}}
  
  <div class="definitions">
<div class="d-flex">
  <div class="mb-3 content-container p-1 col-5 ">
  <label for="exampleFormControlInput1" class="form-label">Concepto</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<div class="mb-3 content-container p-1 col-5" >
  <label for="exampleFormControlInput1" class="form-label">Categoria</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
</div>
<div class="mb-3 p-1 col-10">
  <label for="exampleFormControlTextarea1" class="form-label">Definición</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<div class="mb-3 p-1 col-10">
  <label for="exampleFormControlTextarea1" class="form-label">Ejemplo</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<div class="mb-3 col-10">
  <label for="formFile" class="form-label">Archivo</label>
  <input class="form-control" type="file" id="formFile">
</div>

<div class="mb-3 col-10">
<label for="basic-url" class="form-label">Link</label>
<div class="input-group mb-3">
  <span class="input-group-text " id="basic-addon3">https://example.com/users/</span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>
</div>

</div>
