    {{> navbar}}  
    <hr>
    <hr>
    <hr>
    <hr>

<div > 
    
    <img src="../imagenes/fondos/wall5.jpeg" alt="ss" height="100%" width="100%">
    
    <div id="never">
        
    <video   width="720" height="450" controls autoplay>
    <source src="https://res.cloudinary.com/du3v1mwzj/video/upload/v1661186926/iron-learning/videos/Never_sigefl.mp4" type="video/mp4">
</video>
    </div>
</div>
