    {{> navbar}}  
    <hr>
    <hr>
    <hr>
    <hr>
    <h1 style="color:black">Never gonna give you up!!</h1>

<div > 
    
    <img src="../imagenes/fondos/wall5.jpeg" alt="ss" height="100%" width="100%">
    
    <div id="never">
            <hr>
    <hr>
    <hr>
    <hr>
        <img src="../vid/never.gif" alt="NEVER WILL FIND IT">
    </div>
</div>
