    {{> navbar}}
<div id="body-profile-img">
<hr>
<hr>
<hr>
...Página perfil pendiente por codificar
<hr>  
dsalkjndls

<hr>        
<hr>        
<hr>        
<hr>        
<hr>        
<hr>        
<hr>        
<hr>        
<hr>        
<hr>        
<hr>      
ds  
</div>

